html, body {    
    margin:0; /* remove default margin */
    padding:0; /* remove default padding */
    width:100%; /* take full browser width */
    height:100%; /* take full browser height*/
}

#maindiv{
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    max-width: 400px;
}

#divsubmit {
    margin-top: 20px;
}

#header {
    font-size: 100px;
}